{% extends '../base.html' %}
{% block addscript %}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        FB.init("ead88d005b9905d8e6d13282e0065b93", "/xd_receiver.htm");
        $$('table tbody > tr:nth-child(even)').each(function(e){e.addClassName('even')})
    });
</script>
{% endblock %}

{% block content %}

<h3 class="alt">
    Emotion Graph - <fb:name uid="{{user.uid}}" capitalize="true" useyou="false" linked="false"></fb:name>
</h3>
<img src="{{chart}}"/>

<table id="table_status">
    <thead>
        <tr>
            <th>Message</th>
            <th>Emotion Result</th>
        </tr>
    </thead>
    <tbody>
        {% for status in states %}
        <tr>
            <td>
                {{status.message}}
            </td>
            <td>
                {{status.emotion}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>    
{% endblock %}

{% block sidebar %}
    <ul id="friends">
    {% for friend in friends %}
        <li id="friend_{{friend.uid}}">
            <a href="/graph/emotion/{{friend.uid}}.php">
                <img src="{{friend.pic_square}}"/>
                {{friend.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
