#menu ul{
    padding:0;
    margin:0;
}
#menu li{
    display:inline
}
#menu a,#menu a:visited{
    padding-right:20px;
    color:#777;
    font-weight:bold;
    text-decoration:none;
}
#menu a:hover{
    text-decoration:underline;
}

#footer{
    text-align:right;
}

ul#friends{
    padding:0;
    margin:0
}

ul#friends li{
    list-style:none;
    padding:0;
    margin:0
}

ul#friends a:link,ul#friends a:visited{
    color:#777;
    font-size:small;
    text-decoration:none;
    line-height:20px;
    vertical-align:center;
}
ul#friends img{
    height:20px;
}
