<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Emo Graph - {% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/blueprint/print.css" type="text/css" media="print">  
    <!--[if lt IE 8]><link rel="stylesheet" href="/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
    <link rel="stylesheet" href="/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/main.css" type="text/css" media="screen, projection"> 
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("prototype", "1.6");
    </script>
    
    {% block addscript %}
    <script type="text/javascript">
        document.observe("dom:loaded", function() {
            $$('table tbody > tr:nth-child(even)').each(function(e){e.addClassName('even')})
        });
    </script>
    {% endblock %}
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> 
    
</head>
<body>
<div class="container" id="container">
    <div class="span-16" id="header">
    {% block header %}
        <h1 class="alt">Emo Graph</h1>
    {% endblock %}
    </div>
    <div class="span-8 last" style="text-align:right">
        {% ifequal login_label 'logout'%}
            <b>{{nickname}}</b> | 
        {% else %}
            <b>Guest User</b> | 
        {% endifequal %}
        <a href="{{login_url}}"><b>{{login_label}}</b></a>
    </div>
    
    <div class="span-24 last" id="menu">
        <ul>
            <li><a href="/graph/index.php">Graph</a></li>
            <li><a href="/trainning/index.php">Trainning</a></li>
            <li><a href="/trainning/keyword.php">Keyword</a></li>
            <li><a href="/shell.php">Shell</a></li>
        </ul>
    </div>
    <hr/>
    
    <div class="span-16 colborder" id="content">
    {% block content %}
        <p>This is content</p>
    {% endblock %}
    </div>
    
    <div class="span-7 last" id="sidebar">
        {% block sidebar %}
        <h3 class="alt">Sidebar</h3>
        {% endblock %}
    </div>
    <hr class="space"/>
    <hr/>
    <div class="span-24 last" id="footer">
        <a href="http://code.google.com/appengine/"><img src="/appengine.gif" alt="powered by google appengine" /></a>
    </div>
</div>
</body>
</html>
