{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="title"/></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea name="content"></textarea></td>
        </tr>
        <tr><td>&nbsp;</td><td><input type="submit"></td></tr>
    </table>
    
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="title"/></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea name="content"></textarea></td>
        </tr>
        <tr><td>&nbsp;</td><td><input type="submit"></td></tr>
    </table>
    
</form>
<table border="1" width="400">
    <thead>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr id="{{article.key}}">
        <td><b>{{article.title}}</b></td>
        <td>{{article.content}}</td>
        <td>
            <a href="/latihan/{{article.key}}.php">delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
