{% extends 'base.html' %}


{% block content %}
    <fb:mediaheader uid="{{uid}}">
        <fb:header-title>
            <fb:name uid="{{uid}}" useyou="false" linked="false"/> - Emotion Status Result
        </fb:header-title>
    </fb:mediaheader>
    <img src="{{chart}}"/>
    <br/><br/>
    <div id="table_container">
        <table>
            <thead>
                <tr>
                    <th class="name_heading">Message</th>
                    <th class="name_heading" width="120px">Emotion Result</th>
                </tr>
            </thead>
            <tbody>
                {% for status in states %}
                <tr>
                    <td>
                        {{status.message}}
                    </td>
                    <td>
                        {{status.emotion}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
{% endblock %}
