{% extends 'base.html' %}


{% block content %}
     <fb:mediaheader uid="{{uid}}">
        <fb:header-title>
            <fb:name uid="{{uid}}" useyou="false" linked="false"/>
        </fb:header-title>
    </fb:mediaheader>
    <p align="center">
        
        <fb:editor action="http://apps.facebook.com/emograph/canvas/you.php"> 
            <fb:editor-buttonset> 
                <fb:editor-button value="Get Emotion Graph" name="process"/> 
            </fb:editor-button>
        </fb:editor-button>
    </p>
{% endblock %}
