{% extends '../base.html' %}



{% block content %}

<h3 class="alt">Grafik Hasil Trainning</h3>
<img src="{{chart}}"/>

<div class="box">
    <h3 class="alt">Static Trainning</h3>
    Total Trainning: {{static.total}} <br/>
    senang: {{static.senang}}<br/>
    sedih: {{static.sedih}}<br/>
    marah: {{static.marah}} <br/>
    jijik: {{static.jijik}}<br/>
    malu: {{static.malu}}<br/>
    takut: {{static.takut}}<br/>
    bersalah: {{static.bersalah}}<br/>
    uncategory: {{static.uncategory}}
</div>


{% endblock %}

{% block sidebar %}
    <h3 class="caps">Friends</h3>
    <ul id="friends">
    {% for uid in friends %}
        <li id="friend_{{uid}}">
            <a href="/trainning/{{uid}}.php">
                <fb:profile-pic uid="{{uid}}" height="20px" linked="false" size="square"></fb:profile-pic>
                <fb:name uid="{{uid}}" capitalize="true" linked="false"></fb:name>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
