{% extends '../base.html' %}

{% block addscript %}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        FB.init("ead88d005b9905d8e6d13282e0065b93", "/xd_receiver.htm");
        $$('table tbody > tr:nth-child(even)').each(function(e){e.addClassName('even')})
    });
</script>
{% endblock %}

{% block content %}


<h3 class="alt">Graph result Trainning without Uncategory</h3>
<img src="{{chart}}"/>
<br/>
<br/>
<br/>
<br/>
<hr/>
<h3 class="alt">Graph result Trainning with Uncategory</h3>
<img src="{{chart_all}}"/>
<br/>
<br/>
<br/>
<br/>
<hr/>

<div class="box">
    <h3 class="alt">Static Trainning</h3>
    Total Trainning: {{static.total}} <br/>
    senang: {{static.senang}}<br/>
    sedih: {{static.sedih}}<br/>
    marah: {{static.marah}} <br/>
    jijik: {{static.jijik}}<br/>
    malu: {{static.malu}}<br/>
    takut: {{static.takut}}<br/>
    bersalah: {{static.bersalah}}<br/>
    uncategory: {{static.uncategory}}
</div>


{% endblock %}

{% block sidebar %}
    
    <label>Select Your Friend</label>
    <form action="/trainning/friend.php" method="post">
        <select name="uid">
            <option value="{{user.uid}}" {%ifequal user.uid uid%} selected="selected" {%endifequal%}>
                {{user.name}}
            </option>
            {% for friend in friends %}
                {% ifnotequal friend.uid 1583575245 %}
                    <option value="{{friend.uid}}" {%ifequal friend.uid uid%} selected="selected" {%endifequal%}>
                        {{friend.name}}
                    </option>
                {% endifnotequal %}
            {% endfor %}
        </select>
        <input type="submit" value="Go!"/>
    </form>
    
{% endblock %}
