{% extends '../base.html' %}

{% block addscript %}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        FB.init("ead88d005b9905d8e6d13282e0065b93", "/xd_receiver.htm");
        $$('table tbody > tr:nth-child(even)').each(function(e){e.addClassName('even')})
    });
</script>
{% endblock %}

{% block content %}


<h3 class="alt">Graph result Trainning without Uncategory</h3>
<img src="{{chart}}"/>
<br/>
<br/>
<br/>
<br/>
<hr/>
<h3 class="alt">Graph result Trainning with Uncategory</h3>
<img src="{{chart_all}}"/>
<br/>
<br/>
<br/>
<br/>
<hr/>
<div class="box">
    <h3 class="alt">Static Trainning</h3>
    Total Trainning: {{static.total}} <br/>
    senang: {{static.senang}}<br/>
    sedih: {{static.sedih}}<br/>
    marah: {{static.marah}} <br/>
    jijik: {{static.jijik}}<br/>
    malu: {{static.malu}}<br/>
    takut: {{static.takut}}<br/>
    bersalah: {{static.bersalah}}<br/>
    uncategory: {{static.uncategory}}
</div>


{% endblock %}

{% block sidebar %}
    <h3 class="caps">Friends</h3>
    <ul id="friends">
    {% for friend in friends %}
        <li id="friend_{{friend.uid}}">
            <a href="/trainning/status/{{friend.key}}.php">
                <fb:profile-pic uid="{{friend.uid}}" height="20px" linked="false" size="square"></fb:profile-pic>
                <fb:name uid="{{friend.uid}}" capitalize="true" linked="false"></fb:name>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
